<!DOCTYPE html>
<html>
<head>
	<title>Just Header and Footer | HTML Layouts</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<div id="header">
		<div id="logo">
			<div></div>
		</div>
		<div id="menu">
			<ul>
				<li><a href="threeboxes.html">Three Boxes</a></li>
				<li><a href="fiveboxes.html">Five Boxes</a></li>
				<li><a href="advanced.html">Advanced Grid</a></li>
			</ul>
		</div>
	</div>

	<div id="main">
		
	</div>

	<div id="footer">
		<div class="ft-left">7 Earth, Milky Way, Universe 7</div>
		<div class="ft-right">&copy; 2018 All Rights Reserved.</div>
	</div>

</body>
</html>