<!DOCTYPE html>
<html>
<head>
	<title>Three Boxes</title>
	<link rel="stylesheet" type="text/css" href="reset.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<div id="header">
		<div id="logo"><img src="img/logo.jpg"></div>
		<div id="menu">
			<!--ul>
  				<li><a href="#home">Home</a></li>
 				<li><a href="#news">News</a></li>
  				<li><a href="#contact">Contact</a></li>
  				<li style="float:right"><a href="#about">About</a></li>
			</ul-->
			<ul>
				<li><a href="Home.html">Home</a></li>
				<li><a href="About.html">About</a></li>
				<li><a href="Feeling-Lucky.html">Feeling Lucky</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>

	<div id="main">
		<div id="hero"><img src="img/main1.jpg"></div>
		<div class="featured"><img src="img/featured1.png"></div>
		<div class="featured last"><img src="img/featured1.png"></div>
		<div class="clear"></div>
	</div>
	
	<div id="footer">
		<div class="ft-left">Flying Heaven Govern Sword-Style</div>
		<div class="ft-right">&copy; 2018 All Rights Reserved.</div>
	</div>


	

</body>
</html>