#header {
	background: #726B68;
	padding: 20px;
}

#logo, #menu {
	width: 50%;
	height: auto;
	display: inline-block;
}

#logo img {
	width: 150px;
}

#menu ul li {
	display: inline-block;
}
#menu ul li a {
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
	background: black;
}

#main {
	padding: 20px;
}

#hero img {
	width: 100%;
	margin-bottom: 20px;
}

#menu ul li {
	margin: 10px
}

#menu {
	text-align: right;
	float: right;
	height: 70px;
}

#logo > div {
	background: #000000;
	width: 200px;
	height: 70px;
}

#menu ul {
	margin: auto;
}

#menu ul li {
	display: inline-block;
	padding: 0px 10px;
	line-height: 70px;
}

#menu ul li a {
	color: #ffffff;
}

.featured img {
	width: 49%;
	float: left;
	margin-right: 1%;
}

.last img {
	float: right;
	width: : 49%;
	margin-left: 1%;
	margin-right: 0;
}
.clear {
	clear: both;
}

#footer {
	padding: 20px;
	background: #726B68;
}

.ft-left, .ft-right {
	width: 50%;
	display: inline-block;
	font-style: italic;
}

.ft-right {
	float: right;
	text-align: right;
}




